.admin-navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#1b5e20;

padding:15px 30px;

color:white;

}


.admin-logo{

font-size:20px;

font-weight:bold;

}



.admin-links{

display:flex;

gap:20px;

}



.admin-links a{

color:white;

text-decoration:none;

font-size:15px;

}



.admin-links a:hover{

opacity:0.8;

}