.logout-btn {

  background-color: #dc3545;

  color: white;

  border: none;

  padding: 10px 20px;

  border-radius: 8px;

  font-size: 15px;

  cursor: pointer;

  transition: 0.3s;

}


.logout-btn:hover {

  background-color: #b02a37;

}


.logout-btn:active {

  transform: scale(0.95);

}