.dashboard {
  padding: 20px;
  font-family: Arial;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e8ffe8;
  padding: 10px;
  border-radius: 8px;
}

.top-bar a {
  text-decoration: none;
  background: green;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background: #f2f2f2;
}
